input{
    width:350px;
    height:50px;
    border: none;
    border-bottom:2px solid rgb(0, 92, 80);
    background: none;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    text-align: center;

}
input:focus{
    outline: none;
}
.input_parent{
    display: flex;
    justify-content: space-around;
    
}
button{
    width:100px;
    height: 50px;
    background:#0096A8;
    border: none;
    font-size: 25px;
    border-radius:8px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    
}
button:hover{
    box-shadow: rgba(255, 255, 255, 1) 0px 54px 55px, rgba(255, 255, 255, 1) 0px -12px 30px, rgba(255, 255, 255, 1) 0px 4px 6px, rgba(255, 255, 255, 1) 0px 12px 13px, rgba(255, 255, 255, 1) 0px -3px 5px;
    
}