.main{
    width:600px;
    height:500px;
    margin-top: 50px;
    margin-left: -50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    width:150px;
    height:150px;
}
h2{
    color:white;
    text-transform: uppercase;
    font-family: sans-serif;
}